<%- include("partials/header") %>
<main>
  <h2>Welcome To DevHelper</h2>
  <p>Where you can save, search and organize your code snippets with the help of AI.</p>
</main>
<%- include("partials/footer") %>